run = "php -S 0.0.0.0:3000"

entrypoint = "index.php"
modules = ["postgresql-16"]

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39413

[[ports]]
localPort = 41887

[[ports]]
localPort = 41963

[[ports]]
localPort = 43213
externalPort = 3001

[[ports]]
localPort = 43497
externalPort = 3000

[[ports]]
localPort = 44449
externalPort = 3002

[[ports]]
localPort = 45447

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Server"

[[workflows.workflow]]
name = "PHP Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
